# This is whitelist

# Ignore all files but directory
*
!*/

# include
!.gitignore
!.gitmodules
!README.md
!VM/**
!docker/**
!.bashrc
!.gdbinit
!.vim/**
!.tmux.conf
!.config/alacritty/**
!.config/nvim/**
!.config/zed/**
!.config/i3/**
!.config/sway/**
!.config/waybar/**
!.config/wezterm/**
!ctf/**

# ignore
/.vim/plugins
/.config/nvim/plugins
/.config/discord*
/.config/i3/i3blocks.out

# do not include submodule directory!!!
/.config/nvim/fudebako.vim
/env_setup
