# This is whitelist

# Ignore all files but directory
*
!*/

# include
!.gitignore
!.gitmodules
!README.md
!VM/**
!docker/**
!.bashrc
!.gdbinit
!.vim/vimrc
!.vim/repos.vim
!.tmux.conf
!.config/alacritty/**
!.config/nvim/**
!.config/i3/**
!.config/sway/**
!.config/waybar/**
!.config/wezterm/**
!ctf/**
!/scripts/**

# ignore
/.vim/plugins
/.config/nvim/fudebako.nvim/
/.config/discord*
/.config/i3/i3blocks.out
/.config/unity3d
/ctf/pwn-vm/nvim/pack

# do not include submodule directory!!!
/.config/nvim/fudebako.vim
/.config/nvim/pack
/env_setup
